html {
  box-sizing: border-box;
  font-size: $default-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $white;
  font-family: $sans-serif-fonts;
}

.layout {
  max-width: 950px;
  margin: auto;
  padding: 0 15px;
}

.header {
  padding: 50px 0;
}

.main {
  margin: 50px 0 120px;
}

.header__nav {
  display: flex;
  align-items: baseline;
}

.header__nav__item {
    color: rgb(136, 136, 136);
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.header__nav__item--selected {
    color: rgb(26, 26, 26);
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.header__nav__item--title {
  font-size: 1.55rem;
  margin-right: 40px;
  font-weight: bold;
}

// organization
.organization__item {
    margin-top: 100px;
}

.organization__name {
    color: rgb(26, 26, 26);
    font-family: "Bebas Neue";
    font-size: 36px;
    line-height: 44px;
}

.organization__logo {
    float: right;
    width: 130px;
}

.organization__duration {
    color: #888;
    font-family: "Noto Sans CJK KR";
    font-size: 14px;
    line-height: 15px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 30px;
}

.organization__brief {
    color: rgb(85, 85, 85);
    font-family: "Noto Sans CJK KR";
    font-size: 16px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.organization__description {
    color: rgb(85, 85, 85);
    font-family: "Open Sans";
    font-size: 12px;
    line-height: 25px;
}

.organization__role{
  color: #555555;
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 25px;
}

.page__title {
    color: rgb(26, 26, 26);
    font-family: "Bebas Neue";
    font-size: 82px;
    line-height: 1.2;
    text-align: center;
}

// posts
.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts__item {
  margin: 0;
  overflow: auto;
}
.posts__item::after {
  content: '';
  dispaly: table;
  clear: both
}

.posts__date {
  width: 30%;
  color: $grey;
  font-size: 1rem;
  font-family: $serif-fonts;
}

.post__contents{
  float: right;
  width: 45%;
}


.posts__title {
  color: #1A1A1A;
  font-family: "Open Sans";
  font-size: 28px;
  line-height: 44px;
}

.posts__description {
    color: rgb(85, 85, 85);
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.posts__navigation {
  height: 15px;
  width: 100%;
  color: #888888;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 25px;
}
.posts__navigation a{
  color: #888888;
}

.posts__thumbnail {
    float: left;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
@media (max-width:650px){
  .posts__thumbnail{
    float: none;
    width: 100%;
  }
  .post__contents{
    width: 100%;
  }
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease 0s;
}

.posts__thumbnail:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .5);
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.35s ease 0s;
}

.button a {
  padding: 12px 20px;
  text-align: center;
  color: #bfbfbf;
  font-weight: bold;
  font-family: "Open Sans";
  border: solid 1px #bfbfbf;
  text-decoration: none;
  z-index: 1;
}

.button a:hover {
  color: white;
  border: solid 1px white;
}

.posts__thumbnail:hover .button {
  opacity: 1;
}


.footer {
  padding: 25px 0;
  font-size: .9rem;
  font-style: italic;
  font-family: $serif-fonts;
  color: $grey;
}

.footer__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer__item {
  margin-right: 10px;
  display: flex;
}

.footer__item a {
  color: black;
  text-decoration: none;
}

.footer__item:nth-child(2):before {
  content: '|';
  margin-right: 10px;
}

.icon {
  height: .9rem;
  width: .9rem;
  fill: $grey;
}

#disqus_thread {
  margin-top: 60px;
}

.private_info {
  color: #1A1A1A;
  text-decoration: underline;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;
  margin-bottom: 30px;
}

// profile description
.profile {
  overflow: auto;
  color: rgb(85, 85, 85);
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile::after {
  content: '';
  dispaly: table;
  clear: both
}

.profile__left {
  width: 49%;
  float: left;
}

.profile__right {
  width: 49%;
  float: right;
}

@media (max-width:700px){
  .post .container {
    display: block;
  }
  .profile__left{
    float: none;
    width: 100%;
  }
  .profile__right{
    margin-top: 40px;
    float: none;
    width: 100%;
  }
}
