---
layout: default
---

<article class='post'>
  <div class="posts__navigation">
    <a href="/portfolio"> Portfolio </a> &nbsp; > &nbsp; <a href="/portfolio#{{ page.organization }}"> {{ page.organization }} </a> &nbsp; > &nbsp; {{ page.title }}
  </div>
  <br/>
  <div>
  {% for item in site.data.organization %}
    {% if item.title ==  page.organization %}
      <img src="{{item.logo}}" width="100px" style="margin-bottom:35px">
      {% break %}
    {% endif %}
  {%endfor%}
  </div>
  <h1>{{ page.title }}</h1>
  {{ content }}
</article>
